In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('EduData.csv')

In [3]:
data

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,T,Father,5,4,5,8,No,Bad,Above-7,L
476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50,77,14,28,No,Bad,Under-7,M
477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55,74,25,29,No,Bad,Under-7,M
478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30,17,14,57,No,Bad,Above-7,L
479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35,14,23,62,No,Bad,Above-7,L

In [4]:
data.describe()

       VisITedResources  AnnouncementsView  Discussion
count        480.000000         480.000000  480.000000
mean          54.797917          37.918750   43.283333
std           33.080007          26.611244   27.637735
min            0.000000           0.000000    1.000000
25%           20.000000          14.000000   20.000000
50%           65.000000          33.000000   39.000000
75%           84.000000          58.000000   70.000000
max           99.000000          98.000000   99.000000

In [5]:
data = data.replace("?", np.NaN)
data.head()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M

In [6]:
data.isnull().sum()

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     2
SectionID                   0
Topic                       2
Semester                    0
Relation                    8
raisedhands                 2
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [7]:
data.dtypes

gender                      object
NationalITy                 object
PlaceofBirth                object
StageID                     object
GradeID                     object
SectionID                   object
Topic                       object
Semester                    object
Relation                    object
raisedhands                 object
VisITedResources             int64
AnnouncementsView            int64
Discussion                   int64
ParentAnsweringSurvey       object
ParentschoolSatisfaction    object
StudentAbsenceDays          object
Class                       object
dtype: object

In [8]:
data["Topic"].value_counts()

Topic
IT           94
French       65
Arabic       58
Science      51
English      45
Biology      30
Spanish      25
Chemistry    24
Geology      24
Quran        22
Math         21
History      19
Name: count, dtype: int64

In [9]:
data['Topic'].replace(np.NaN, 'IT', inplace=True)

In [10]:
data['Topic'].isnull().sum()

0

In [11]:
data = data.dropna(subset = ['Relation','GradeID'])

In [12]:
data.isnull().sum()

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
raisedhands                 2
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [13]:
avg = data['raisedhands'].astype('float').mean()
avg

46.83119658119658

In [14]:
data["raisedhands"].replace(np.NaN, 46, inplace=True)

In [15]:
data.isnull().sum()

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
raisedhands                 0
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [16]:
data['Semester'].value_counts()

Semester
F    240
S    228
T      2
Name: count, dtype: int64

In [17]:
data = data[data['Semester'].str.contains("T") == False]

In [18]:
data.reset_index(drop = True, inplace = True)

In [19]:
data

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,F,Father,2,7,4,8,No,Bad,Above-7,L
464,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50,77,14,28,No,Bad,Under-7,M
465,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55,74,25,29,No,Bad,Under-7,M
466,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30,17,14,57,No,Bad,Above-7,L
467,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35,14,23,62,No,Bad,Above-7,L

In [20]:
data.drop(['ParentAnsweringSurvey'], axis = 1, inplace = True)

In [21]:
data.head()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,Bad,Above-7,M

In [22]:
data.dtypes

gender                      object
NationalITy                 object
PlaceofBirth                object
StageID                     object
GradeID                     object
SectionID                   object
Topic                       object
Semester                    object
Relation                    object
raisedhands                 object
VisITedResources             int64
AnnouncementsView            int64
Discussion                   int64
ParentschoolSatisfaction    object
StudentAbsenceDays          object
Class                       object
dtype: object

In [23]:
data['raisedhands'] =  data['raisedhands'].astype('float') / data['raisedhands'].astype('float').max()

In [24]:
data['VisITedResources'] =  data['VisITedResources'] / data['VisITedResources'].astype('float').max()

In [25]:
data.head()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,0.15,0.161616,2,20,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,0.20,0.202020,3,25,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,0.10,0.070707,0,30,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,0.30,0.252525,5,35,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,0.40,0.505051,12,50,Bad,Above-7,M

In [26]:
data['GradeID'].value_counts()

GradeID
G-02    142
G-08    115
G-07     98
G-04     48
G-06     31
G-11     13
G-12      9
G-09      5
G-10      4
G-05      3
Name: count, dtype: int64

In [27]:
data['GradeID'].replace("G-02", 1, inplace = True)
data['GradeID'].replace("G-04", 2, inplace = True)
data['GradeID'].replace("G-05", 3, inplace = True)
data['GradeID'].replace("G-06", 4, inplace = True)
data['GradeID'].replace("G-07", 5, inplace = True)
data['GradeID'].replace("G-08", 6, inplace = True)
data['GradeID'].replace("G-09", 7, inplace = True)
data['GradeID'].replace("G-10", 8, inplace = True)
data['GradeID'].replace("G-11", 9, inplace = True)
data['GradeID'].replace("G-12", 10, inplace = True)

In [28]:
data['StudentAbsenceDays'].value_counts()

StudentAbsenceDays
Under-7    282
Above-7    186
Name: count, dtype: int64

In [29]:
data['StudentAbsenceDays'].replace("Under-7", 0, inplace = True)
data['StudentAbsenceDays'].replace("Above-7", 1, inplace = True)

In [30]:
bins = np.linspace(min(data['Discussion']), max(data['Discussion']), 4)
bins

array([ 1.        , 33.66666667, 66.33333333, 99.        ])

In [31]:
group_names = ['Low', 'Medium', 'High']

In [32]:
data['Discussion-Binned'] = pd.cut(data['Discussion'], bins, labels = group_names, include_lowest = True)

In [33]:
data[['Discussion','Discussion-Binned']].head()

   Discussion Discussion-Binned
0          20               Low
1          25               Low
2          30               Low
3          35            Medium
4          50            Medium

In [34]:
data.to_csv("DW2.csv")